@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.author.AuthorName</h1>
    <p>
        @foreach (var book in ViewBag.author.Books)
        {
            @(book.Title + ", " + book.Price + " €")
            <br />
        }
    </p>
    <p>
        @Html.ActionLink("Learn more", "Details", "Authors", new { id = ViewBag.author.AuthorID }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    @foreach (var book in ViewBag.books)
    {
        <div class="col-md-4">
            <h2>@book.Title</h2>
            @if (!String.IsNullOrEmpty(book.Content))
            {
                <p>@book.Content.Substring(0, Math.Min(book.Content.Length, 200))...</p>
            }            
            <p>
                @Html.ActionLink("Learn more", "Details", "Books", new { id = book.BookID }, new { @class = "btn btn-default" })
            </p>
        </div>
    }
</div>